services:
  postgres:
    image: postgres:17
    container_name: perf-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ilham123
      POSTGRES_DB: perfdb
    ports:
      - "5432:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d:ro
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on: [postgres]

volumes:
  pgdata:
