version: '3.9'
services:
  postgres:
    image: postgres:14
    container_name: benchmark-db
    environment:
      POSTGRES_USER: benchmark
      POSTGRES_PASSWORD: benchmark
      POSTGRES_DB: benchmarkdb
    ports:
      - "5432:5432"
    volumes:
      - ./../db/init.sql:/docker-entrypoint-initdb.d/1-init.sql
      - ./../db/data.sql:/docker-entrypoint-initdb.d/2-data.sql
    networks:
      - bench-net

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - bench-net

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - bench-net

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=perf
      - DOCKER_INFLUXDB_INIT_BUCKET=jmeter
    networks:
      - bench-net

networks:
  bench-net:
    driver: bridge
